<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <title>Thay đổi mật khẩu thành công</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 84px 0;
      background-color: #f4f4f4;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .header {
      text-align: center;
      padding: 20px 0;
      background-color: #477c76;
      color: #ffffff;
      border-radius: 5px 5px 0 0;
    }
    .content {
      padding: 20px;
    }
    .button {
      display: block;
      width: fit-content;
      margin: 20px auto;
      padding: 10px 20px;
      background-color: #477c76;
      color: #ffffff;
      text-align: center;
      border-radius: 5px;
      text-decoration: none;
    }
    .button:hover {
      background-color: #325c57;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Thay đổi mật khẩu thành công</h1>
    </div>
    <div class="content">
      <p style="font-weight: 700;">Xin chào {{fullName}},</p>
      <p>Mật khẩu của bạn đã được thay đổi thành công. Nếu bạn không thực hiện thay đổi này, vui lòng liên hệ với bộ phận hỗ trợ ngay lập tức.</p>
      <p>Chúng tôi khuyên bạn nên giữ mật khẩu của mình an toàn và không chia sẻ nó với bất kỳ ai.</p>
      <p style="font-weight: 700;">Trân trọng,</p>
      <p style="font-weight: 700;">Đội ngũ phát triển Chat Application Platform</p>
    </div>
  </div>
</body>
</html>
