chat-app-platform-nestjs/node_modules
chat-app-platform-nestjs/.vscode
chat-app-platform-nestjs/dist
chat-app-platform-nestjs/.git
chat-app-platform-nestjs/.DS_Store
chat-app-platform-nestjs/src/.DS_Store

chat-app-platform-react/node_modules
chat-app-platform-react/.vscode
chat-app-platform-react/dist
chat-app-platform-react/.git
chat-app-platform-react/.DS_Store
chat-app-platform-react/src/.DS_Store